<div class="d-inline-flex mb-3 me-1 p-2 fw-semibold text-white bg-primary border border-primary  rounded-2">Traveller
  Details :
</div>
<div class="d-inline-flex mb-3 p-2  text-primary bg-primary bg-opacity-10 border border-primary border-opacity-10 rounded-2"><%= travel_detail.user.name %></div>
<div class="d-inline-flex mb-3 p-2  text-primary bg-primary bg-opacity-10 border border-primary border-opacity-10 rounded-2"><%= travel_detail.user.email %></div>
<div class="d-inline-flex mb-3 p-2  text-primary bg-primary bg-opacity-10 border border-primary border-opacity-10 rounded-2"><%= travel_detail.user.contact %></div>

<table class="table table-primary table-bordered  table-striped">
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Departure Date</th>
    <th>Arrival Date</th>
    <th>Capacity</th>
    <th>Going By</th>

  </tr>

  <tr>
    <td><%= travel_detail.from %></td>
    <td><%= travel_detail.to %></td>
    <td><%= travel_detail.departure_time.to_formatted_s(:long_ordinal) %></td>
    <td><%= travel_detail.arrival_time.to_formatted_s(:long_ordinal) %></td>
    <td><%= travel_detail.capacity %></td>
    <td><%= travel_detail.going_by %></td>
  </tr>
</table>


<% if travel_detail.additional_message.present? %>
  <div class="card" style="margin-bottom: 5px">
    <div class="card-body">
      <h5 class="card-title">Additional Message</h5>
      <p><%= travel_detail.additional_message %></p>
    </div>
  </div>
<% end %>


