<!DOCTYPE html>
<html>
  <head>
    <title>Courier</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&libraries=places">
    </script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

  
<!--  Nav Bar-->
    <%= render 'shared/navbar' %>

<!--    Toastr JS for showing notification-->
    <% if flash[:info_toast] %>
      <script>
          toastr.info('<%= flash[:info_toast] %>')
      </script>
    <% end %>

<!--    BuiltIn flash messages-->
    <% if flash[:notice] %>
      <p class="alert alert-primary mx-5 my-2"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert alert-danger mx-5 my-2"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
